body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Yusei Magic", sans-serif;
}

/* home */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__image {
  margin-top: -20px;
  width: 30%;
}

.balloon {
  position: relative;
  margin: -10px;
  background: yellowgreen;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 10px 30px;
}
.balloon:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid yellowgreen;
  content: "";
  position: absolute;
  top: -10px;
  left: 200px;
}

/* skills */

.skill {
  width: 300px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  height: 13px;
  background-color: gray;
  border-radius: 10px;
  overflow: hidden;
}

.skill__value {
  background-color: orange;
  height: 100%;
}
