:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #444444;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #e0e0e0;
  --color-lighter-grey: #f1f3f4;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /*  Animation*/
  --animation-duration: 300ms;
}

/* Universal tags */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;

  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  margin-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 8px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2px solid var(--color-light-grey);
  align-items: center;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__menu i {
  color: var(--color-grey);
  margin-right: 5px;
  font-size: var(--font-regular);
}
.navbar__menu__item {
  padding: 6px 8px;
  border-radius: 20px;
  font-size: var(--font-regular);
  color: var(--color-grey);
  margin: 2px 0 3px 0;
}

.navbar__menu__item:hover {
  background-color: var(--color-lighter-grey);
}

.navbar__bookmark {
  font-size: var(--font-regular);
  margin-right: 10px;
  color: var(--color-orange);
}
.navbar__bookmark__item {
  display: none;
}

/* Main */

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.profile__name img {
  width: 80vw;
  max-width: 600px;
}

.profile__searchbar {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  max-width: 600px;
  padding: 0 10px 0 20px;
  height: 50px;
  border: 2px solid var(--color-light-grey);
  border-radius: 20px;
  overflow: hidden;
}

.profile__searchbar__input {
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--font-regular);
}

.submit_btn {
  font-size: var(--font-regular);
  color: var(--color-grey);
}

.profile__links {
  display: flex;
  margin-top: 20px;
}

.profile__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 20px 30px;
}
.profile__link:hover {
  background-color: var(--color-lighter-grey);
}

.profile__link__icon {
  font-size: var(--font-medium);
  background-color: var(--color-light-grey);
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 10px;
}

.profile__link__name {
  color: var(--color-grey);
}
